@import "../Assets/Stylesheets/variables.scss";

.container {
  padding: 30px;
  text-align: center;
  background: $gray-background;
}

#header {
  font-size: 50px;
}

#subtitle {
  font-size: 25px;
}
